* {
    background-image: url("../img/background.png");
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nama {
    color: red;
}

/* @media(max-width: 992px){
    .card {
        width: -200rem;
    }
    #pesan {
        width: -40rem;
        margin-left: 2rem;
    }
} */